html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("http://5b0988e595225.cdn.sohucs.com/images/20190104/45a876c60d844afb9def11f4c637003e.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

.top-nav-collapse {
  background-color: #24355C;
}